:root {
    --color-primary:    #FF6600;
}

.section_destacados  {
    width: 100%;
    /* background-color: #eee; */
}

.section_destacados h3 {
    width: 80%;
    max-width: 1170px;
    font-size: 24px;
    font-weight: 500;
    display: block;
    border-bottom: 2px solid rgb(255, 102, 0);
    margin: 60px auto 5px;
    color: rgb(255, 102, 0);
    padding: 5px 0px;
}

.section_destacados .todos a {
    text-decoration: none;
    color: #9B9B9B;
    font-size: 16px;
    float: right;
    padding-bottom: 0px;
    text-decoration: none;
    padding-top: 10px;
}

.section_destacados  .container_daily {
    width: 80%;
    max-width: 1170px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section_destacados .container_daily h2 {
    text-align: center;
    padding: 3%;
    font-size: 12px;
}

.section_destacados .container_daily p {
    width: 30%;
    padding: 3px;
    font-size: 16px;
    line-height: 2;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
    background-color: red;
    border-radius: 3px;
    position: absolute;
    top: 0;
}

.section_destacados .container_daily .card_desta {
    width: 260px;
    height: 195px;
    margin: 25px 0;
    text-align: center;
    /* border: 1PX solid var(--color-primary); */
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #fff;
}

.section_destacados .container_daily .card_desta .content {
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 1rem;
    transition: all 0.5s ease;
}

.section_destacados .container_daily .card_desta .content h3 {
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 50px;
    display: inline-block;
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-primary);
    cursor: pointer;
}

.section_destacados .container_daily .card_desta .content h3 a {
    color: #fff;
    font-size: 18px;
}

.section_destacados .container_daily .card_desta:hover .content {
    top: 0;
}

.section_destacados .container_daily .card_desta img {
    display: block;
    width: 280px;
    height: 160px;
    transition: all 0.5s ease;
}

.section_destacados .container_daily .card_desta .icono {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid var(--color-primary);
}

.section_destacados .container_daily .card_desta .btn-button {
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 20px;
    display: inline-block;
    background-color: var(--color-primary);
    border: 0.1rem solid var(--color-primary);
    color: #fff; 
    cursor: pointer;
}


@media (max-width: 1024px) {
   
    .section_destacados  h3 {
        width: 80%;
        font-size: 16px;
        font-weight: 500;
        display: block;
        border-bottom: 2px solid #FF6600;
        margin: 5px auto;
        margin-top: 60px;
        color: #ff6600;
        padding: 5px 0;
    }

    .section_destacados .todos a {
        text-decoration: none;
        color: #9B9B9B;
        font-size: 13px;
        float: right;
        padding-bottom: 0px;
        text-decoration: none;
    }

    .section_destacados .container_daily  {
        width: 80%;
        margin: 10px auto;
        overflow-x: scroll;
        white-space: nowrap;
        display: block;
    }

    .section_destacados .container_daily .card {
        width: 320px;
        height: 240px;
    }

    .section_destacados .container_daily .card img {
        height: 100px;
        object-fit: cover;
    }
        
    .section_destacados .container_daily .card p {
        width: 100%;
        text-align: center;
    }

    .section_destacados .container_daily .card .btn-button {
        padding: 8px 15px;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
   
    .section_destacados  h3 {
        width: 90%
    }

    .section_destacados .container_daily {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .section_destacados .container_daily p {
        width: 25%;
        font-size: 12px;
    }
}

