:root {
    --color-primary:    #FF6600;
}

.footer-link {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
    /* margin-left: 20px;
    margin-right: 20px; */
} 

.footer-link .footer-container {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-link .footer-link-col {
    flex-grow: 1;
    flex-basis: 0;
}

.footer-link .footer-link-col h3 {
    display: block;
    font-size: 20px;
    color: #FF6600;
    padding-bottom: 15px;
}

.footer-link .footer-link-col p {
    font-size: 12px;
    color: #9B9B9B;
    margin-top: 0;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .footer-link .footer-container .footer2 {
        display: none;
    }

    .footer-link .footer-link-col {
        flex-basis: min-content;
    }
}