@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-primary:    #FF6600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

main {
    background: #F4F7FC;
}


/******************* HEADER ********************/

header {
    
    /* position: relative;
    top: 0;
    left: 0; */
    width: 100%;
    /* max-width: 1920px; */
    background-color: #23252B;
    
    /* align-items: center;
    box-shadow: 0 5PX 25PX rgb(0 0 0 / 20%);
     padding: 0 10%;
    transition: 0.6s;
    margin: 0 auto; */
}

header .container-header {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    z-index: 98;

}

header .container-header .conte-hijo {
    flex-grow: 1;
}

header .container-header .conte-hijo:nth-child(2){
    flex-grow: 2;
}

header .container-header .conte-hijo:nth-child(4){
    display: none;
}


header .logo img {
    width: 100px;
    height: 80px;
}

header .navigation {
    position: relative;
    line-height: 75px;
}

header .navigation .menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

header .navigation .menu-nav .menu-item > a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin: 10px;
    padding: 25px 0;
}

header .navigation .menu-nav .menu-item > a:hover {
    color: var(--color-primary);
    transition: 0.3s;
}

header .navigation .menu-nav .menu-item .sub-menu {
    position: absolute;
    background: #23252b;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header .navigation .menu-nav .menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgb(255, 255, 255, 02);
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 15px 30px;
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item:hover {
    background-color: #4080EF;
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}

header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
    gap: 8px;
    cursor: pointer;
}

header .buttons .btn-entrar {
    width: 152px;
    height: 40px;
    background: #2E3541;
    border-radius: 20px;
    color: #fff;
    padding: 5px 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

header .buttons .btn-registro { 
    background: #40B840;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px 10px;
    border: none;
    width: 152px;
    height: 40px;
}

header .buttons .btn-registro a {
    color: rgba(255, 255, 255, 0.870588);
}

/******************* END HEADER ********************/


/*******************SLIDER*******************/

main {
    z-index: 99;
}

main .slider-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

main .slider-container .slider {
    width: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .slider-container .slider .slide {
    width: 100%;
    position: relative;
} 

main .slider-container .slider .slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main .slider-container .slider .slide .slide-content {
    width: 455px;
    height: 179px;
    position: absolute;
    top: 30%;
    left: 50px;
    background: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

main .slider-container .slider .slide .slide-content  h2 {
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 42px;
    letter-spacing: 0px;
}

main .slider-container .slider .slide .slide-content p {
font-size: 20px;
color: #FFFFFF;
line-height: 42px;
}

main .slider-container .slider .slide .slide-content button {
    display: inline-block;
    width: 140px;
    margin-top: 2px;
    border: 1px solid #FF6600;
    border-radius: 3px;
    background-color: #FF6600;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}

main .slider-container .slider .slide .slide-content button.btn-last:nth-last-child(2) {
    margin-top: 30px;
}

main .slider-container .slider .slide .slide-content button.btn-last:nth-last-child(1) {
    margin-top: 30px;
}

/*******************END SLIDER*******************/

/*******************STEPS- CONTAINER*******************/

.steps-container {
    width: 80%;
    margin: 0 auto;
}

.steps-container .steps {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.steps-container .steps .step {
    margin: 0 auto;
    text-align: center;
}


.steps-container .steps img {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.steps-container .steps h3 {
    font-size: 20px;
}

/*******************END STEPS- CONTAINER*******************/




/*******************MEDIAQUERI*******************/


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    /*******************HEADER*******************/
    header .container-header {
        width: 100%;
    }
    header {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header .container-header .buttons {
        width: 90%;
        margin: 15px auto;
        justify-content: center;
    }

    header .container-header .navigation .menu-nav {
        position: fixed;
        display: block;
        background: #23252b;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 90px 50px;
        overflow-y: auto;
        transition: all 0.5s ease-in-out;
        z-index: 100;
    }

    header .container-header .conte-hijo:nth-child(4){
        display: block;
    }

    header .container-header .conte-hijo:nth-child(1){
        width: 50%;
    }

    header .container-header .navigation .menu-nav.active {
        right: 0;
    }

    header .container-header .navigation .menu-nav .menu-item {
        position: relative;
    }

    header .container-header .navigation .menu-nav .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }

    header .container-header .navigation .menu-nav .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }

    header .container-header .navigation .menu-nav .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }

    header .container-header .navigation .menu-nav .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    header .container-header .navigation .menu-nav .menu-item .sub-menu .sub-item a:hover {
        color: #4080ef;
        transition: 0.3s;
    }

    .close-btn {
        position: absolute;
        top: 30px;
        background: url(/asset/menu/x-circle-solid-156.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 46px;
        background-position: center;
    }

    .menu-btn {
        background: url(/asset/menu/menu-alt-right-regular-156\ \(1\).png);
        width: 38px;
        height: 38px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 80%;;
    }

    header .buttons .btn-entrar, 
    header .buttons .btn-registro {
        border-radius: 0;
        width: 30%;
        height: 35px;
        border-radius: 3px;
    }

    header .buttons .btn-entrar {
        background-color: var(--color-primary);
    }

    header .buttons .btn-registro {
        background-color: #40b840;
        color: #FFFFFF;
    }

    /*******************END HEADER*******************/

    /*******************SLIDER*******************/

    main .slider-container .slider .slide .slide-content {
        top: 20%;
        width: 80%;
        height: 190px;
        left: 40px;
    }

    main .slider-container .slider .slide .slide-content button {
        width: 100px;
        font-size: 15px;
    }

    main .slider-container .slider .slide .slide-content p {
        font-size: 16px;
    }

    /*******************END SLIDER*******************/

    /*******************STEPS*******************/

    .steps-container .steps h3 {
        font-size: 16px;
    }

    /*******************END STEPS*******************/

}

@media (max-width: 425px) {
    .steps-container .steps h3 {
        font-size: 12px;
    }

    .steps-container .steps img {
        width: 35%;
    }

    header .buttons {
        width: 100%;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    
    header .logo{
        width: 12%;
    }

    header .navigation {
        width: 70%;
    }
}