@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-primary:    #FF6600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


/* HEADER */

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23252B;
    /* background-image: linear-gradient(to bottom, #FF2525, #FFE53B); */
    box-shadow: 0 5PX 25PX rgb(0 0 0 / 20%);
    padding: 0 100px;
    transition: 0.6s;
}

header .logo img {
    width: 100px;
    height: 100px;
}

header .navigation {
    position: relative;
    line-height: 75px;
}

header .navigation .menu-nav {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

header .navigation .menu-nav .menu-item > a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}

header .navigation .menu-nav .menu-item > a:hover {
    color: var(--color-primary);
    transition: 0.3s;
}

header .navigation .menu-nav .menu-item .sub-menu {
    position: absolute;
    background: #23252b;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgba(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(15px);
    opacity: 1;
    transition: 0.3s;
    transition-property: transform, opacity;
}

header .navigation .menu-nav .menu-item:hover .sub-menu {
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgb(255, 255, 255, 02);
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 15px 30px;
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item:hover {
    background-color: #4080EF;
    /* background-color: var(--color-primary); */
}

header .navigation .menu-nav .menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;
}


@media (max-width: 1060px) {
    header .navigation .menu-nav {
        position: fixed;
        display: block;
        background: #23252b;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
        /* justify-content: center;
        list-style: none;
        user-select: none; */
    }

    header .navigation .menu-nav .menu-item {
        position: relative;
    }

    header .navigation .menu-nav .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
    }

    header .navigation .menu-nav .menu-item:hover .sub-menu {
        transform: translateX(10px);
    }

    header .navigation .menu-nav .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }

    header .navigation .menu-nav .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    header .navigation .menu-nav .menu-item .sub-menu .sub-item a:hover {
        color: #4080ef;
        transition: 0.3s;
    }
}